coco/annotations/instances_train2014.json
coco/annotations/instances_val2014.json
coco/annotations/instances_train2014.zip
coco/images/
transfer/weights/
transfer/shell_scripts/coco/
transfer/inference_output/
